.nav {
  display: flex;
  gap: 8px;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 24px;
  &:hover,
  focus {
    color: #404bbf;
  }
}
